{% extends 'base.html' %}

{% block title %}Create Category{% endblock %}

{% block navbar %}
    <a class="navbar-brand" href="{% url 'home' %}">Products</a>
    <span style="color: white; margin-top: 5px; margin-right: 16px">|</span>
    <a class="navbar-brand" href="">Add Products</a>
{% endblock %}

{% block content_2 %}
    <h1 style="margin-top: 50px; margin-bottom: 50px">Add Category</h1>
    <form method="post" action="{% url 'add_category' %}">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Title" required>
    <br>
    <br>
    <textarea name="description" placeholder="Description"></textarea>
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Add Category</button>
</form>
{% endblock %}