{% extends 'base.html' %}

{% block title %}A Webb Page{% endblock %}

{% block navbar %}
    <a class="navbar-brand" href="{% url 'home' %}">Products</a>
    <span style="color: white; margin-top: 5px; margin-right: 16px">|</span>
    <a class="navbar-brand" href="{% url 'add_product' %}">Add Products</a>
    <span style="color: white; margin-top: 5px; margin-right: 16px">|</span>
    <a class="navbar-brand" href="{% url 'add_category' %}">Add Category</a>
{% endblock %}

{% block content %}
    {% for product in products %}
        <div class="card mb-3" style="max-width: 500px; margin-top: 100px; border: solid 2px">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col-md-4">
                    <img src="{{ product.imagine }}" class="img-fluid rounded-start" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text">{{ product.category }}</p>
                        <h6 class="card-text">{{ product.cost }}$</h6>
                        <a href="{% url 'detail' product.pk %}">See more...</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}